# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# MLflow
mlruns/

# Project specifics
data/
models/
coverage.xml
*.coverage
htmlcov/
*.log
.pytest_cache/
.DS_Store

